body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00ffea;
    background-image: url(6056955.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    background-color: 	#02567ac4;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 3px solid #01303f;
    border-radius: 10px;
}

button {
    width: 113%;
    padding: 10px;
    background-color: #02a9f7;
    color: #ffffff;
    border: red;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #89d6fb;
}
